.wrapper {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  color: #161823;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.check {
  color: var(--tick-color);
  margin-left: 4px;
}

.name {
  color: #161823;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}

.footer {
  margin-top: 8px;
}

.number {
  font-weight: 700;
  margin-right: 6px;
  font-size: 17px;
  line-height: 20px;
}

.user-stats:not(:last-of-type) {
  margin-right: 12px;
}

.user-stats {
  color: #161823bf;
  font-size: 1.7rem;
  line-height: 2rem;
}
