.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  margin-top: var(--default-layout-header-height);
  width: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);
  max-width: var(--default-layout-width);
}

.content {
  flex-basis: calc(1150px - 356px);
}
