.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  width: 100%;
  max-width: var(--default-layout-width);
}

.content {
  flex-basis: calc(1150px - 356px);
}
